* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

::selection {
    background-color: #f9a26c;
}

html {
    background-color: #274C6D;
    /* #325d79 */
    /*274C6D */
    color: #efeeee;
    scroll-behavior: smooth;
}

/* Appliquer un style de base à la barre de navigation */
#navbar {
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 999;
    position: fixed;
    transition: background-color 0.5s;
}

/*Style de l'élément du prénom/nom */
.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
}

/* Style des éléments de la liste */
#nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}

/* Style des liens de la barre de navigation */
#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    transition: all 0.2s;
}

/* Style du bouton "hamburger" */
#nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* style du nav-toggle */
#nav-toggle i {
    font-size: 30px;
    color: #fff;
}

/* Style des liens de la barre de navigation */
#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    display: block;
    transition: all 0.2s;
}

@keyframes textHeaderAnimation {
    0% {
        transform: translateY(-2%);
        opacity: 0.2;
        filter: blur(8px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*image du header du site */
.hero {
    height: 100vh;
    background: url("../../photo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.38);
    /* changez l'opacité ici */
    z-index: 0;
}

/* le texte dans l'image et le style de celui ci jusqu'a la ligne 106 */
.txt-hero {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    color: white;
    padding-top: 35vh;
    line-height: 20px;
    animation: 1.5s ease-out 0s 1 textHeaderAnimation;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.txt-hero h1 {
    font-size: 70px;
}

.txt-hero p {
    font-size: 25px;
}

.txt-hero p {
    line-height: 60px;
}

/* pour la div main */
/* .main {
    padding-top: 30px;
} */

.main h1 {
    text-align: center;
    color: #efeeee;
}

.main h1 {
    padding-top: 50px;
}

.main #about p {
    margin-left: 150px;
    margin-right: 150px;
    line-height: 30px;
    font-size: 19px;
    margin-top: 20px;
    /*text-align: center;*/
    font-size: 19px;
    overflow-wrap: break-word;
    line-height: 30px;
}

/* Style des titre (soulignement etc.) */
#titre-main {
    text-align: center;
    padding-bottom: 20px;
}

#titre {
    display: inline-block;
    position: relative;
    margin: 0 20px;

}

#titre:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #9bd7d1;
    transform: skewX(-45deg);
    transition: height 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#titre:hover:after {
    height: 7px;
    transform: skewX(0deg);
}

#about {
    padding-bottom: 50px;
}

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    opacity: 0.4;
    font-size: 13px;
    line-height: 20px;
}

footer a {
    color: #efeeee;
    text-decoration: none;
}

/* Masquer la barre de navigation sur les petits écrans et afficher le bouton "hamburger" */
@media (max-width: 768px) {
    #nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* #nav-toggle {
        display: block;
    } */

    #navbar a {
        padding: 20px;
    }

    .main #about p {
        margin-left: 15px;
        margin-right: 15px;
        line-height: 30px;
        font-size: 19px;
        margin-top: 20px;
        /*text-align: center;*/
        font-size: 19px;
        overflow-wrap: break-word;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    #nav-menu {
        display: none;
    }

    #nav-toggle {
        display: block;
    }
}

#contact-para h2 {
    padding-top: 30px;
    text-align: center;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 50px;
    transition: all ease-in-out .3s;
}

.card:hover {
    transition: all ease-in-out .3s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.card-text {
    padding: 20px;
}

.card-text h3 {
    margin-top: 0;
}

.card-text h3 span {
    position: relative;
    font-size: 10px;
    top: -10px;
    background-color: #9bd7d1;
    padding: 2px;
    border-radius: 20px;
    color: #274C6D;
}

.card-text p {
    margin-bottom: 0;
}

.card-text a {
    text-decoration: none;
    color: white;
}

.card-text p i {
    animation: slide1 1s ease-in-out infinite;
}

.card-text p:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .card-row {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card {
        width: 100%;
    }
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

#contact-titre {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 2px;
}

#titre span {
    position: relative;
    font-size: 10px;
    top: -17px;
    background-color: #9bd7d1;
    padding: 2px;
    border-radius: 20px;
    color: #274C6D;
}

.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    display: none;
    z-index: 9999;
    padding: 20px;
    box-sizing: border-box;
    max-width: 400px;
    max-height: 4000px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}